body {
    font-size: 14px;
}

.code-container {
	position: relative;
	margin-bottom: 1.5rem;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 6px;
	background: transparent;
	padding-left: 12px;
}

.file_browser_container {
    margin: 12px 10px;
}

/* 
.file_browser_container input {
    display: none;
} */

#query_elapsed {
    margin-bottom: 6px;
}

.elapsed {
    font-weight: bold;
    margin: 10px;
}

.error_query {
    color: #cd2525;
    margin: 10px;
    font-weight: bold;
}

.error_code {
    color: #cd2525;
    margin: 10px;
}

.CodeMirror {
    height: 240px !important;
}

.left_panel {
    width: 34%;
    float: left;
    border-right: 1px solid #dddddd;
}

.right_panel {
    width: 65%;
    float: right;
}

.right_panel table {
    font-size: 12px !important;
}

#query_status {
    margin-bottom: 3px;
}

.loader {
    position: relative;
    left: calc(100% - 74px);
    top: -78px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
    display: none;
}
  
.loader .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
  
.loader .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #6262d5;
}
  
.loader .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #6262d5;
}
  
.loader .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #6262d5;
}
  
#pageloader {
    position: relative !important;
    margin-top: 10%;
}

@keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
  
@keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
  
@keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #ad3030;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px 0;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
.tooltip-right {
    top: -5px;
    left: 125%;  
}
  
.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ad3030 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.hidden {
    display: none;
}

.show_block {
    display: block !important;
}

.t_files_container,
.t_tables_container {
    max-height: 250px;
    overflow: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the buttons inside the tab */
.tab button {
    background-color: rgb(0, 136, 255);
    color: #fff;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px;
    transition: 0.3s;
    font-size: 14px;
    letter-spacing: 2px;
    width: 100px;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(0, 113, 212);
}
  
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.cell_overlay {
    max-width: 160px;
    word-wrap: break-word;
}

.cell_minwidth {
    min-width: 120px;
}

.middle_align {
    vertical-align: middle !important;
    align-items: center !important;
}

.splitter_pane {
    width: 100%;
    height: 100%;
    display: flex;
}

.splitter_pane #separator {
    cursor: col-resize;
    background-color: #d5e0ef;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 2px;
}

.splitter_pane #first {
    /* background-color: #dde; */
    width: 35%;
    height: 100%;
    min-width: 30px;
}

.splitter_pane #second {
    /* background-color: #eee; */
    width: 65%;
    height: 100%;
    min-width: 30px;
}
